.admin-movie{
    justify-content: center;
    display: flex;
    margin-top: 10vh;
}

.admin-payment{
    justify-content: center;
    display: flex;
    margin-top: 10vh;
}

.admin-user{
    justify-content: center;
    display: flex;
    margin-top: 30vh;
}